@import "../../theme";

section.linechart {
  .disabled {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .chart {
    border: 3px solid map-get($primary, "dark");
    transition: all 0.3s ease-in;
  }
}