.billboard {

  position: relative;
  overflow-x: hidden;

  table {
    text-align: center;
    width: 100%;
    background-color: black;
  }
  
  tr {
    display: flex;
    width: 100%;
  }
  
  td {
    flex-grow: 1;
    color: black;
  }

  td.active {
    color: burlywood;
  }
  
  h1 {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;

    position: absolute;
    transform: translateY(50%);
    bottom: 50%;
    color: red;
    font-size: 2em;

  }

  p.zmLight {
    width: calc(100% - 140px);
    animation: 8s zoumalight infinite ease-in-out;
    margin: 0;
  }


}

@keyframes zoumalight {

  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }

}