@import "../theme";

.navbar {
  nav {
    padding: 0 1em;
    display: flex;
    background-color: map-get($primary, "normal");
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    h1 {
      margin: 0;
    }
    img {
      width: 3em;
      height: 3em;
    }
  }

  h1 {
    margin: 1em;
  }
  
  ul {
    display: flex;
  }
  
  li {
    padding: 1em 1em;
    a {
      color: black;
      padding: 1em 1em;
      transition: all 0.2s ease-in-out;
    }
  
    a:hover {
      color: white;
      background-color: map-get($primary, "dark");
      text-decoration: none;
    }
  }

  .strip {
    height: 1em;
    background-color: map-get($primary, "dark");
  }

}
